fastapi==0.115.6
uvicorn==0.30.0
huggingface-hub==0.30.2
conformer==0.3.2
diffusers==0.29.0
HyperPyYAML==1.2.3
inflect==7.3.1
librosa==0.10.2
networkx==3.1
numpy==1.26.4
omegaconf==2.3.0
onnx==1.16.0
onnxruntime-gpu==1.18.0
openai-whisper==20231117
protobuf==4.25.8
soundfile==0.12.1
transformers==4.51.3
x-transformers==2.11.24
wetext==0.0.4
wget==3.2
